.skill {
    background: #f4f4f4;
    color:black;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
}


.skill p {
    display: flex;
    align-items: center;
    justify-content: space-between;
}