.edu-container {
    width: 700px;
    margin-bottom: 100px;
}

.Education {
    margin-bottom: 40px;
}

.achievement-c,
.image-col {
    float: left;
}

.achievement-c {
    width: 75%;
}

.image-col {
    width: 25%;
}