<!-- <h1>Angu1ar Routing</hl> -->
<div class="container">
  <div class="navigation-bar">
  <nav>
    <div class="nav-btn">
      <a routerLink="/experience" routerLinkActive=" active">Experience</a>
    </div>
    <div class="nav-btn">
      <a routerLink="/skills" routerLinkActive=" active">Skills</a>
    </div>
    <div class="nav-btn">
      <a routerLink="/education" routerLinkActive=" active">Education</a>
    </div>
  </nav>
</div> 

<div class="Title-and-Basic-Information">
  <div class="Basic-Info">
    <div class="name">
      <h1>Omar Garcia</h1>
    </div>

    <div class="github">
      <h2><a href="https://github.com/MacawClaw">Github: @MacawClaw</a></h2>
    </div>

    <div class="summary">
      <h3>Summary</h3>
      <p>Tech savvy professional with proven expertise in software development, cloud computing, web development, project management, and technical troubleshooting. Supported 
        by a strong analytical and problem-solving foundation rooted in a scientific background, has over 3 years of programming experience spread across various projects. Seeking 
        a role as a Java Full Stack developer to build upon the training I received at GenSpark.
      </p><br><br>
      <h3>Click a section to learn more about me!</h3>
      <hr>
    </div>
  </div>
</div>   

<div class="portfolio-page">
  <router-outlet></router-outlet>
</div>  

</div>  
  